body {
    font-family: 'Century Schoolbook', serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 5px 0;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    height: 65px;
    margin-right: 20px;
    border-radius: 10px; 
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center; 
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center; 
    height: 65px; 
    font-size: 16.5px; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

main {
    flex: 1;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    margin-bottom: 20px;
}

form input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333; 
    background-color: white;
}

form select {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333; 
    background-color: white;
}

form input[type="text"]::placeholder,
form textarea::placeholder {
    color: #333;
}

form button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

form button:hover {
    background-color: #555;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: #333;
}

input[type="file"]::-webkit-file-upload-button {
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #555;
}

.post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.post h3 {
    margin-top: 0;
}

.post img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Or any other desired maximum height */
    border-radius: 5px;
    display: block;
    margin: 10px 0; /* Add some margin for spacing */
}

.comments {
    margin-top: 15px;
    padding-left: 20px;
}

.comment {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment p {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment p {
    margin: 5px 0;
}

.comment-form {
    margin-top: 10px;
}

.like-dislike-form {
    display: inline-block; 
}

.like-dislike-container {
    display: flex;
    gap: 10px; 
}

.like-dislike-form button {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.like-dislike-form button:hover {
    background-color: #555;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 80vh; /* Ensure the image does not exceed the viewport height */
    object-fit: contain; /* Maintain aspect ratio */
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
