# Flutter
.build/
.dart_tool/
.packages
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework

# Others
*.apk
*.ipa
*.iml
*.log
*.sqlite
*.db
