<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Literary Lions Forum</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/static/img/logo.jpg" alt="Literary Lions Logo" class="logo"></a></li>
                <li><a href="/">HOME</a></li>
                <li><a href="/categories">LIBRARY</a></li>
                <li><a href="/discussion">FORUM</a></li>
                {{if .LoggedIn}}
                    <li><a href="/logout">LOG OUT</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                {{else}}
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                {{end}}
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Login</h1>
        <p>Please enter your credentials to log in.</p>
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <div class="signin">
            <p>Don't have an account? <a href="/register">Register here</a>.</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Literary Lions Forum by Kati and Lara :)</p>
    </footer>
</body>
</html>
